@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none; 
}

@media (max-width: 414px) {
    header{
        display: none;
    }

    .conteiner_section_presentacion {
        display: flex;
        flex-direction: column;
 
    }
    .imagen_presentacion{
    
    width: 300px;
    height: 300px;}

    .titulo_conocimientos {
        font-size: 2.5em;
    }

    .titulo_proyectos{
        font-size: 2.5em;   
    }

    h2{
        font-size: 2em;
    }

    .flexible_section_presentacion {
        padding: 0 ;
    }
}

@media (max-width: 620px) {

    .contactame{
        width: 100%;
    }
    .fuente_contactame{
        width: 100%;
       
    }
    .div_nombreyapellido {
        display: flex;
        flex-direction: column;
    }

    input[type="text"] {
        width: 100%;
    }

    .escribime{
        width: 100%;
    }

   .ul_footer{
       display: flex;
       flex-wrap: wrap;    
   }
   .iconos{
       margin-top: 10px;
   }
    .ul_footer_none {
    display: none;
}

.flexible_section_presentacion {
    padding: 0 ;
}
}


@media (max-width: 1100px)
 {

    .conteiner_section_presentacion{
        display: flex;
        flex-direction: column;
        flex-wrap:wrap;
    }



.conteiner_section_formulario{
    
    display: flex;
    flex-direction: column;
    
}

.escribime{
    margin-top: 100px;
}

.flexible_section_presentacion {
    padding: 0 ;
}


}